APScheduler==3.7.0
cbpro==1.1.4
click==7.1.2
Flask==1.1.2
Flask-Script==2.0.6
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
mkdir==2020.12.3
orderdict==2020.12.3
pkg-resources==0.0.0
pymongo==3.5.1
python-crontab==2.5.1
python-dateutil==2.8.1
pytz==2021.1
requests==2.13.0
setupcfg==2020.12.3
setuppy-generator==2020.12.2
six==1.10.0
sortedcontainers==2.3.0
tzlocal==2.1
values==2020.12.3
websocket-client==0.40.0
Werkzeug==1.0.1
write==2020.12.3