h1 {
    border: 2px #eee solid;
    color: brown;
    text-align: center;
    padding: 10px;
}

.alert.success {
  background-color: green;
}

.alert.error {
  background-color: red;
}

hr {
  color: white;
}
