{% block order_content %}
<h2>{% block title %} Create Order {% endblock %}</h2>
<div style="width: 50%;">
<hr>
<h5>
  {% for account in balances %}
    {% if 'USD' in account['currency'] %}
      Available Balance: ${{ account['available'] }} USD
    {% endif %}
    {% if 'EUR' in account['currency'] %}
      Available Balance: €{{ account['available'] }} EUR
    {% endif %}
  {% endfor %}
</h5>
<br>
    <form method="POST" action="{{ url_for('order_create') }}">
      <div class="form-group row">
        <label for="asset" class="col-sm-2 col-form-label">Asset</label>
        <div class="col-sm-10">
          <select id="asset" class="form-control" name="asset">
            <option selected>Choose...</option>
            {% for coin in cb_coins %}
              <option>{{ coin }}</option>
            {% endfor %}
          </select>

        </div>
      </div>

      <div class="form-group row">
        <label for="quantity" class="col-sm-2 col-form-label">Quantity</label>
        <div class="input-group mb-3 col-sm-10">
          <div class="input-group-prepend">
            <span class="input-group-text">$</span>
          </div>
          <input type="text" class="form-control col-sm-10" id="quantity" value="" aria-label="Amount (to the nearest dollar)" name="quantity">
          <div class="input-group-append">
            <span class="input-group-text">.00</span>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="quantity" class="col-sm-2 col-form-label">Frequency</label>
        <div class="btn-group btn-group-toggle col-sm-10" data-toggle="buttons">
          <label class="btn btn-secondary">
            <input class="btn btn-secondary" type="radio" data-toggle="collapse" id="oneTimeRadio" value="once" name="oneTimeRadio" data-target="#frequencyPicker">One-Time
          </label>
          <label class="btn btn-secondary">
            <input class="btn btn-secondary" type="radio" data-toggle="collapse" id="recurringRadio" value="recurring" name="recurringRadio" data-target="#frequencyPicker">Recurring
          </label>
        </div>
      </div>

      <div class="collapse frequencyPicker" id="frequencyPicker">
        <div class="form-group row">
          <div class="col col-sm-2">&nbsp;</div>
          <div class="col col-sm-10">
            <div class="card card-body">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="freqRadios" id="dailyRadio" value="Daily">
                <label class="form-check-label" for="dailyRadio">
                  Daily
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="freqRadios" id="weeklyRadio" value="Weekly">
                <label class="form-check-label" for="weeklyRadio">
                  Weekly
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="freqRadios" id="weeklyRadio" value="Monthly">
                <label class="form-check-label" for="monthlyRadio">
                  Monthly
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="form-group row">
        <label for="asset" class="col-sm-2 col-form-label">Exchange</label>
        <div class="col-sm-10">
          <input type="text" readonly class="form-control" id="exchange" value="Coinbase" name="exchange">
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="orderNotes">Notes</label>
        <div class="col-sm-10">
        <textarea class="form-control" id="orderNotes" rows="3" name="notes"></textarea>
        </div>
      </div>
      <br>
      <div class="form-group row">
            <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#confirmOrder" id="previewButton" disabled >Preview Order</button>
              Deactivate
            </button>
      </div>





      <!--<div class="row">
        <div class="collapse multi-collapse" id="previewOrderCollapse">
          <div class="card card-body">
            <h5>Hey! You're about to submit an order!</h5>
            <p>If there's cash in your account, this is gonna spend it. Double check everything is right!</p>
            <hr>
            <input type="hidden" value="Active" name="active">
            <input type="hidden" value="Buy" name="side">
            <button type="submit" class="btn btn-success" width="40%" >Looks good!</button>
          </div>
        </div>
      </div>-->
      <div class="modal fade" id="confirmOrder" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              Submit Order?
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
              <a class="btn btn-success btn-ok">Looks good!</a>
            </div>
          </div>
        </div>
      </div>


    </form>
</div>


<script type="text/javascript">
  $("#recurringRadio").focus(function(){
  	$("#frequencyPicker").collapse('show');
  	$("#oneTimeRadio").prop('checked', false);
  })

  $("#oneTimeRadio").focus(function(){
  	$("#frequencyPicker").collapse('hide');
  	$("#recurringRadio").prop('checked', false);
  	$("#dailyRadio").prop('checked', false);
  	$("#weeklyRadio").prop('checked', false);
  	$("#monthlyRadio").prop('checked', false);
  })

  $('#side, #asset, #quantity, #frequency, #exchange').bind('keyup', function() {
      if(allFilled()) $('#previewButton').removeAttr('disabled');
  });

  $('.previewButton').on('click',function(){
    if($("#oneTimeRadio").is(':checked')){
      var f = "one-time";
      } else {
        if($("#dailyRadio").is(':checked')) var f = "daily";
        if($("#weeklyRadio").is(':checked')) var f = "weekly";
        if($("#monthlyRadio").is(':checked')) var f = "monthly";
      }
    var q = $("quantity").val();
    var a = $("#asset").val();

    var content = "You are about to BUY $" + q + ".00 worth of " + a + ". Proceed?";

    $('.modal-body').html(content,function(){
        $('#confirmOrder').modal("show");
    });
  });

  function allFilled() {
      var filled = true;
      $('body input').each(function() {
  	    if($(this).val() == '') filled = false;
      });
      return filled;
  }

</script>
{% endblock %}
