{% block order_history %}<br>
<h4>Order History:</h4>
<form method="GET" action="{{ url_for('export_orders') }}">
  <button type="submit" class="btn btn-success btn-ok" data-dismiss="modal" data-href="{{ url_for('export_orders') }}" >Export csv</button>
</form>
  <br>
<table id="historyTable" class="table table-hover table-sm table-dark table-striped"  width="100%">
  <thead>
    <tr>
      <td><h5>ID</h5></td>
      <td><h5>Side</h5></td>
      <td><h5>Asset</h5></td>
      <td><h5>Type</h5></td>
      <td><h5>Quantity</h5></td>
      <td><h5>Total</h5></td>
      <td><h5>Frequency</h5></td>
      <td><h5>Exchange</h5></td>
      <td><h5>Created</h5></td>
    </tr>
  </thead>
  {% for order in order_history %}
  <tr>
      <td>
        <h5>
          <span class="badge badge-primary">{{ order['id'] }} </span>
        </h5>
      </td>
      <td><h5><span class="badge badge-info">{{ order['side'] }}</span></h5></td>
      <td>{{ order['asset'] }}</td>
      <td>{{ order['type'] }}</td>
      <td>${{ order['quantity'] }}</td>
      <td>{{ order['total'] }}</td>
      <td>{{ order['frequency'] }}</td>
      <td>{{ order['exchange'] }}</td>
      <td>{{ order['created']|timefilter }}</td>
  </tr>
{% endfor %}
</table>
<br>
  

{% endblock %}
